.moviescontainer {
  color: white;
  h1{
    margin: 0;
  }
  background-color: #141414;
  ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    li{
       width: 185px;
        
        img{
          max-width: 185px;
        }
    }
  }
}

.star-active{
  color: yellow;
}
