.moviescontainer {
  background-color: #141414;
  ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    li{
       
        
        img{
       
        }
    }
  }
}

.star-active{
  color: yellow;
}
