.navbar {
  display: flex;
  height: 80px;
  display: inline-block;
  background-color: rgb(20, 20, 20);
  border: 1px solid black;
  color: white;
  img {
    width: 50px;
    margin-left: 20px;
  }
  ul {
    display: flex;
    list-style: none;
    li {
      padding: 10px;
    }
  }
  .col{
      display: flex;
  }    .search-col{
      justify-content: end;
  }
}
